MikuXProBot/config.py
MikuXProBot/*.session
MikuXProBot/*.session-journal
MikuXProBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MikuXProBot/modules/helper_funcs/temp.txt
MikuXProBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
MikuXProBot.session-journal
updates.txt
*.exe
